/node_modules
/public/hot
/public/storage
/public/cache
/public/logs/*
/storage/*.key
/storage/debugbar
/public/uploads/*
/public/images/uploads/*
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public_html
/.history
/database/schema/*
vendor
composer.lock
composer.phar
.phpunit.result.cache
